<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Prodution</title>
	<link rel="stylesheet" type="text/css" href="..\static\style.css" />
</head>
<body>
	<div class="box1">
		<h1>I m a g e</h1>
		<form method="post" action="{% url 'check' %}">
			{%csrf_token%}
		    <!-- <input id="color" type="text" name="color" placeholder="your color(1,0,1,0,1.....)"> -->
		    <input id="label" type="text" name="label" placeholder="your label(0~63)"><br><br>
			<div class="box2">
			<div class="a">
				<input type="checkbox" name="1">
			</div>
			<div class="b">
				<input type="checkbox" name="2">
			</div>
			<div class="c">
				<input type="checkbox" name="3">
			</div>
			<div class="d">
				<input type="checkbox" name="4">
			</div>
			<div class="e">
				<input type="checkbox" name="5">
			</div>
			<div class="f">
				<input type="checkbox" name="6">
			</div>
			<div class="g">
				<input type="checkbox" name="7">
			</div>
			<div class="h">
				<input type="checkbox" name="8">
			</div>
			<div class="i">
				<input type="checkbox" name="9">
			</div>
			<div class="j">
				<input type="checkbox" name="10">
			</div>
			<div class="k">
				<input type="checkbox" name="11">
			</div>
			<div class="l">
				<input type="checkbox" name="12">
			</div>
			</div>
			<br />
			<input id="submit" type="submit" value="OK"><br>
		</form>
	</div>

</body>
</html>